    <div class="header">
        <h1 class="todos-title">todos</h1>
        <div class="textfield">

            <form action="/new-todo" method="POST" class="d-flex">
                <img src="arrow.jpg" alt="Toggle all">
                <input type="text" name="todo" class="form-control" placeholder="What needs to be done?" autofocus></input>
                <input type="submit" value="Add Todo" class="submit-button">
            </form>

            
        </div>
        
    </div>
    <script src="../app.js"></script>