body,
html {
  background-color: #f5f5f5;
  margin: 0 auto;
}
.container1 {
  background-color: #f5f5f5;
}
.container {
  display: flex;
  min-width: 500px;
  max-width: 600px;
  flex-direction: column;
  margin: 0 auto;
}
.bodyy {
  -webkit-box-shadow: 0px 0px 25px -15px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 25px -15px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 25px -15px rgba(0, 0, 0, 0.67);
}
.todos-title {
  font-family: Arial;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  padding-top: 8;
  padding-bottom: 8;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  background-color: #f5f5f5;
  margin: 0 auto;
}
.input-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  margin: 0 auto;
  box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 3%);
}
.input-form img {
  margin-top: 25;
  margin-left: 10;
  margin-right: 5;
  width: 15px;
  height: 15px;
}
.edit {
  margin: 0;
  width: 562px;
  font-size: 24px;
  font-weight: inherit;
  line-height: 1.4em;
  padding: 11px;
  padding-bottom: 14px;
  padding-right: 47px;
  padding-left: 24;
  margin-left: 37px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
  box-sizing: border-box;
  color: #4d4d4d;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  font: Arial;
  font-style: normal;
}

.edit-form {
  margin-bottom: 0;
  background-color: white;
  border-bottom: 1px solid #ededed;
}

.form-control {
  width: 95%;
  font-size: 24px;
  font-style: italic;
  font-weight: inherit;
  line-height: 1.4em;
  color: #4d4d4d;
  padding: 16px;
  margin: 0 auto;
  margin-left: 9px;
  margin-right: 0;
  background: transparent;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-control::placeholder {
  color: lightgray;
}

.div-task {
  display: block;
  font-size: 24px;
  font-style: italic;
  font-weight: inherit;
  line-height: 1.4em;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
a {
  text-decoration: none;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font: Arial;
  font-style: normal;
}
.items-left {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font: Arial;
  font-style: normal;
  padding-top: 3px;
}
.one-todo {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font: Arial;
  font-style: normal;
  padding-top: 0;
  padding-right: 23;
  padding-left: 6px;
  padding-bottom: 0;
  height: 45px;
  margin: 0;
  margin-right: 0;
  width: 95%;
  font-size: 24px;
  font-weight: inherit;
  min-height: 58px;
  background: transparent;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  border-bottom: 1px solid #ededed;
}

.t-label {
  padding-top: 13px;
  padding-left: 18px;
  min-width: 496px;
  color: #4b4b4b;
  height: 45px;
}
.destroy {
  text-decoration: none;
  padding-top: 5px;
  padding-right: 5px;
  top: 0;
  right: 15px;
  bottom: 0;
  left: -11px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  margin-top: 6px;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-in;
  display: none;
}

.t-label:hover ~ .destroy {
  display: block;
}
.destroy:hover {
  cursor: pointer;
  display: block;
}

.destroy:hover {
  color: darkred;
  opacity: 70%;
}

.checkLab {
  padding-right: 6px;
  margin-top: 17px;
  margin-bottom: 0;
}
.footer {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: row;
  background-color: white;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.footer-list {
  display: flex;
  flex-direction: row;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-left: 5px;
}
.footer-list li {
  border: 1px solid transparent;
  padding-left: 3px;
  padding-right: 3px;
  margin: 1 auto;
  margin-left: 15px;
  margin-right: 15px;
}
.footer-list li:hover {
  border: 1px solid transparent;
  padding-left: 3px;
  padding-right: 3px;
  margin: 1 auto;
  margin-left: 15px;
  margin-right: 15px;
  border-color: rgba(175, 47, 47, 0.2);
  border-radius: 1px;
}
.clear-completed:hover {
  cursor: pointer;
  text-decoration: underline;
}
.todo-list {
  padding-left: 0;
  margin: 0 auto;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.items-left {
  margin: 0 auto;
  margin-left: 0;
  margin-right: 70px;
}
.clear-completed {
  margin-left: 20;
}
.destroy img {
  width: 10px;
}

/* checkbox style */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
  font-size: 16px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 22px;
  height: 22px;
  border: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "✔";
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: 20px;
  line-height: 1.2;
  color: #09ad7e;
  transition: all 0.2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #09ad7e;
  background-color: #ffffff;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #09ad7e;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solit #e7e7e7;
}
/* hover style just for information */
label:hover:before {
  outline: none;
  /* border: 2px solid !important; */
  background: #ffffff;
}
